<ion-header>
    <ion-toolbar color="primary" class="user-profile">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button icon-left size="small" shape="round" color="warning" routerLink="/home">
                <ion-icon name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Historial Pedidos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <!-- <div text-center *ngIf="_cs.items.length === 0" class="carrito_vacio"> -->

        <ion-icon name="hammer" class="icon-5x"></ion-icon>
        <br> En construcción
    <!-- </div> -->


</ion-content>