<ion-content padding class="animated fadeIn login auth-page">

    <video autoplay loop muted class="video-bg" playsinline webkit-playsinline>
    <source src="assets/video/footage-hotel.mp4" type='video/mp4; codecs="h.264"'>
    <source src="assets/video/footage-hotel.webm" type="video/webm">
  </video>

    <div class="auth-content">

        <!-- Logo -->
        <div padding-horizontal text-center class="animated fadeInDown">
            <div class="logo"></div>
        </div>

        <ion-text>Esperando autorización</ion-text>        
    </div>
    <div text-center margin-top>
        <span (click)="goToLogin()" class="paz" tappable>
            <ion-text color="secondary">
                <strong>Volver</strong>
            </ion-text>
        </span>
    </div>
</ion-content>