/** Ionic CSS Variables **/

:root {
    --ion-color-primary: #ffa477;
    --ion-color-primary-rgb: 255, 164, 119;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #e09069;
    --ion-color-primary-tint: #ffad85;
    --ion-color-secondary: #222428;
    --ion-color-secondary-rgb: 34, 36, 40;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #1e2023;
    --ion-color-secondary-tint: #383a3e;
    --ion-color-tertiary: #bababb;
    --ion-color-tertiary-rgb: 186, 186, 187;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #a4a4a5;
    --ion-color-tertiary-tint: #c1c1c2;
    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16, 220, 96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;
    --ion-color-warning: #222428;
    --ion-color-warning-rgb: 34, 36, 40;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #1e2023;
    --ion-color-warning-tint: #383a3e;
    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;
    --ion-color-dark: #fcc283;
    --ion-color-dark-rgb: 252, 194, 131;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #deab73;
    --ion-color-dark-tint: #fcc88f;
    --ion-color-medium: #fdddb9;
    --ion-color-medium-rgb: 253, 221, 185;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #dfc2a3;
    --ion-color-medium-tint: #fde0c0;
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
}