<ion-header>
    <ion-toolbar color="primary" class="user-profile">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
                <ion-button *ngIf="_parEmpreProv.usuario_valido && _parEmpreProv.permite_pedido" routerLink="/carrito">
                    <ion-icon slot="icon-only" name="cart" color="secondary"></ion-icon>
                    <ion-badge color="danger" class="carrito-numero" *ngIf="_cs.items.length > 0">
                        {{ _cs.items.length }}
                    </ion-badge>
                </ion-button>&nbsp; &nbsp;
            <ion-button icon-left size="small" shape="round" color="warning" routerLink="/home">
                <ion-icon name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{producto.linea}}  {{producto.color}}</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content padding>

    <div padding >
        <!-- <ion-row justify-content-center>
            <h4 style="color: #e8860e">
                <strong>{{producto.linea}}  {{producto.color}}</strong>
            </h4>
        </ion-row> -->
        <img *ngIf="producto.link_img" [src]="_DomSanitizer.bypassSecurityTrustUrl(producto.link_img)" />
        <img *ngIf="!producto.link_img" src="assets/img/imagennodisponible.jpg" />


        <ion-grid>
            <ion-row justify-item-center>
                <!-- <ion-col col-6>
            Curva <input type="checkbox" (click)="check_curva()"  [routerLink]="['/curva',producto]">
          </ion-col>
         
          <ion-col col-6>
            Talla <input type="checkbox"  [routerLink]="['/talla',producto]">
          </ion-col> -->

                <ion-col col-6 *ngIf="_ps.curva.length !=0;">
                    <ion-button expand="block" name="curva" [routerLink]="['/curva',producto]">Curva</ion-button>
                </ion-col>
                <ion-col col-6>
                    <ion-button expand="block" [routerLink]="['/talla',producto]">Talla</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>

</ion-content>